<a href="https://colab.research.google.com/github/Bhargavikeshoju/2216158_AIML_Bootcamp_2023/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [84]:
# 1)string methods
str="aiml boot camp"

#capitalize
print(str.capitalize())
#upper
print(str.upper())
#lower
print(str.lower())
#title
print(str.title())
#endswith
print(str.endswith('p'))
#startswith
print(str.startswith('i'))
#count
print(str.count("boot"))
#islower
print(str.islower())
#isupper
print(str.isupper())
#swapcase
print(str.swapcase())
#isalpha
print(str.isalpha())
#isnumeric
print(str.isnumeric())

str1="   Bhargavi   "
#strip
print(str1.strip())
#lstrip
print(str1.lstrip())
#rstrip
print(str1.rstrip())
#split
str2="Aimlpython"
print(str2.split('p'))

Aiml boot camp
AIML BOOT CAMP
aiml boot camp
Aiml Boot Camp
True
False
1
True
False
AIML BOOT CAMP
False
False
Bhargavi
Bhargavi
   Bhargavi
['Aiml', 'ython']

In [46]:
# 2)list methods
list=['aiml','boot','camp']

#append
list.append('bhargavi')
print(list)
#insert
list.insert(0,'python')
print(list)
#reverse
list.reverse()
print(list)
#remove
list.remove('bhargavi')
print(list)
#sort
list.sort()
print(list)
#pop
list.pop(3)
print(list)
#count
print(list.count('aiml'))

l1=[5,6,7,8,9]
#max
print(max(l1))
#index
print(l1.index(6))
#extend
l1.extend([1,2,3,4])
print(l1)
#extend
list.extend(l1)
print(list)
#clear
list.clear()
print(list)

['aiml', 'boot', 'camp', 'bhargavi']
['python', 'aiml', 'boot', 'camp', 'bhargavi']
['bhargavi', 'camp', 'boot', 'aiml', 'python']
['camp', 'boot', 'aiml', 'python']
['aiml', 'boot', 'camp', 'python']
['aiml', 'boot', 'camp']
1
9
1
[5, 6, 7, 8, 9, 1, 2, 3, 4]
['aiml', 'boot', 'camp', 5, 6, 7, 8, 9, 1, 2, 3, 4]
[]

In [86]:
# 3)Tuple methods
tup=(1,2,3,4,1,2,3,4,3)

#count
print(tup.count(3))
print(tup.count(1))
#index
print(tup.index(2))
print(tup.index(4))
#max
print(max(tup))
#min
print(min(tup))
#len
print(len(tup))

3
2
1
3
4
1
9

In [78]:
# 4)Dictionary methods
dic={'a':'A','i':'I','m':'M','l':'L'}

#from keys
print(dict.fromkeys(dic,None))
print(dict.fromkeys(dic,1))
#get
print(dic.get('a'))
print(dic.get('l'))
#items
print(dic.items())
#keys
print(dic.keys())
#values
print(dic.values())
#pop
dic.pop('l')
print(dic)
#update
dic2={'l':'L'}
dic.update(dic2)
print("After updation:")
print(dic)
#popitem
print(dic.popitem())
print("After popping:")
print(dic)
#setdefault
dic.setdefault('Python','boot camp')
print(dic)
#copy
d=dic.copy()
print(d)
#clear
d.clear()
print("After clearing:")
print(d)

{'a': None, 'i': None, 'm': None, 'l': None}
{'a': 1, 'i': 1, 'm': 1, 'l': 1}
A
L
dict_items([('a', 'A'), ('i', 'I'), ('m', 'M'), ('l', 'L')])
dict_keys(['a', 'i', 'm', 'l'])
dict_values(['A', 'I', 'M', 'L'])
{'a': 'A', 'i': 'I', 'm': 'M'}
After updation:
{'a': 'A', 'i': 'I', 'm': 'M', 'l': 'L'}
('l', 'L')
After popping:
{'a': 'A', 'i': 'I', 'm': 'M'}
{'a': 'A', 'i': 'I', 'm': 'M', 'Python': 'boot camp'}
{'a': 'A', 'i': 'I', 'm': 'M', 'Python': 'boot camp'}
After clearing:
{}

In [88]:
# 5)Set methods
set1={2,4,6,8,10,12,14,16,18,20}
set2={2,4,6,"sru",(1,2,3)}

#add
set1.add(22)
print(set1)
#update
set1.update([20,22,24])
print(set1)
#discard
set1.discard(24)
print(set1)
#remove
set1.remove(20)
print(set1)
#clear
print(set2.clear())
print(set2)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 22}
None
set()

In [90]:
# 6)convert decimal to binary,octal and hexadecimal

#Decimal to BInary
n=int(input('enter a number:'))
def decimalToBinary(n):
  if n>1:
      decimalToBinary(n//2)
  print(n%2,end=' ')
decimalToBinary(n)
print("\n")

#Decimal to Octal
n=int(input('enter a number:'))
def decimalToOctal(n):
  if n>1:
      decimalToOctal(n//8)
  print(n%8,end=' ')
decimalToOctal(n)
print("\n")

#Decimal to Hexadecimal
n=int(input('enter a number:'))
def decimalToHexa(n):
  if n>1:
      decimalToHexa(n//16)
  print(n%16,end=' ')
decimalToHexa(n)

enter a number:10
1 0 1 0

enter a number:20
0 2 4

enter a number:34
0 2 2

In [91]:
# 7)Arithmetic operators

#addition
a=5+10
#subtraction
b=5-10
#multiplication
c=5*10
#division
d=5/10
#modulus
e=5%10
#exponent
f=5**10
#floor division
g=5//10
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

15
-5
50
0.5
5
9765625
0

In [93]:
# 8)Assignment operators

a=10
print(a)
a+=3
print(a)
a-=3
print(a)
a*=2
print(a)
a/=5
print(a)
a%=5
print(a)
a//=5
print(a)
b=25
b**=2
print(b)

10
13
10
20
4.0
4.0
0.0
625

In [94]:
# 9)Comparison operators

a=10
b=15
print(a==b)
print(a>b)
print(b>a)
print(a>=b)
print(a<=b)
print(b>=a)
print(b<=a)
print(a!=b)

False
False
True
False
True
True
False
True

In [96]:
# 10)Logical Operators

a=True
b=True
c=False
print(a and b)
print((a and b) and ( b and c))
print((a and b) or ( b and c))
print((a or b) and ( b or c))
print(a or b)
print(not a)
a=10
b=13
print(a<10 and b<5)
print(a<10 or b<5)
print (not(a<10 or b<5))

True
False
True
True
True
False
False
False
True

In [97]:
# 11)Bitwise operators

a=20
b=12
print(a&b)
print(a|b)
print(~a)
print(a>>2)
print(a<<2)

4
28
-21
5
80

In [98]:
# 12)Membership operators

x="PYTHON"
y={1:"Aiml",2:"Boot",3:"Camp"}
print('y' in x)
print('p' not in x)
print(2 in y)
print("Python" in y)

False
True
True
False

In [106]:
# 13)Identity Operators

x=[1,2,3]
y=[4,5,6]
print(x is y)
print (x is not y)

z=100
t=2
print(z is t)
print (z is not t)

False
True
False
True

In [100]:
# 14)Negative indexing for list and apply slicing

list1=[100,220,330,440,550]
print(list1[-1])
print(list1[-5])
#slicing
print(list1[-1::-1])
print(list1[-4:-2])
print(list1[::-1])

list2=[100,200,[50,1,20],[13,40,64,70],110]
print(list2[3][-1])
print(list2[2][::-1])
print(list2[3][1:3])

550
100
[550, 440, 330, 220, 100]
[220, 330]
[550, 440, 330, 220, 100]
70
[20, 1, 50]
[40, 64]

In [101]:
# 15)predict the output for the given code snippet and justify the result

print('A series of characters designated as one subject know as a string'[::-1][4::3])
#justification
''' reverse of statement is   'gnirts a sa wonk tcejbus eno sa detangised sretcarahc fo seires A' 
and [4::3] takes index 4 and then leaves one letter and prints next
output:'taao eue  tgestrcoeeA'   '''
print("\n------------------------------------")
print('Welcome to python training program'[3:10][::-1])  
#justification
#index from 3 to 10  statement is come to and slicing[::-1] of it is output:ot emoc

taao eue  tgestrcoeeA

------------------------------------
ot emoc

In [102]:
# 16)Write a python code to get the desired output

p_phrase="was it a car or a cat I saw"
print(p_phrase[::-1].upper())

WAS I TAC A RO RAC A TI SAW

In [104]:
# 17)You are required to generate a word similar to ZOO, X and Y that denote the number
#of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. Input X= 2 Output ZZOOOO Input X= 5 Output ZZZZZOOOOOOOOOO

word='ZOO'
X=int(input('Enter a number:'))
Y=2*X
print('Z'*X+'O'*Y)
#for input 2 --> ZZOOOO
#FOR INNPUT 5-->ZZZZZOOOOOOOOOO

Enter a number:5
ZZZZZOOOOOOOOOO